body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #dddddd;
    background-image: url(../img/background.gif);
    background-position: cover;
    overflow-y: hidden; 
    overflow-x: hidden; 
    max-width: 1024;
    max-height: 768;
}

#main-play-area {
    height: 600px;
    width: 1280px;
}

.player-shooter {
    position: relative;
    width: 150px;
    height: 52px;
    left: 100px;
    top: 274px;
}

.shoot {
    position: absolute;
    width: 75px;
    height: 30px;
}

.alien {
    position: absolute;
    height: 52px;
    width: 75px;
}

.alien-transition {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.dead-alien {
    height: 52px;
    width: 75px;
    position: absolute;
    opacity: 0;
}